body {
    
    background-color: #e4e978;
    width: 700px;
} 

.comments {
    width: 700px;
    padding: 5px 15px;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    font-style: italic;
    background-color: #f2f4c0;
    color: #5c6e91;
}

.main-article {
    width: 700px;
    padding: 5px 15px;
    border: 1px solid #b2ad7d;
    margin: 15px 10px;
    background-color: #f2f4c0;   
}
