
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


h1, h2 {
    font-family: 'Great+Vibes', cursive;
    line-height: 1.2;
    font-weight: bold;
}
article {
    font-family: 'Raleway', sans-serif;
}