html {
    font-family: Halvetica, sans-serif;
}

body {
    margin: 2em 3em;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(238, 238, 238);
    height: 100vh;
}

.site-header{
    border-bottom: 2px solid black;
    flex: 1 0 100%
    
}

footer {
    color:rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 1em;
    flex: 1 0 100%

}