body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto;
    background-color: #eee;

}

.card {
    border: 1px transparent;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 1em 0 rgba(184, 29, 29, 0.4);
}