.joinBtn {
  width: 10em;
  height: 5ex;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 100px;
  font-weight: bold;
  color: black;
  cursor: grab;
}

.joinBtn:hover {
  background-color: red;
}